<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        name : <input type="text" v-model="name">
        age : <input type="text" v-model="age">
        info : {{ info }}
    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data () {
                return {
                    name:"",
                    age:"",
                    info:""
                }
            },
            watch: {
                name(){
                    console.log(1)
                    this.info = this.name + this.age;
                },
                age(){
                    console.log(1)
                    this.info = this.name + this.age;
                }
            }
        })
    </script>
</body>
</html>